/* Navbar container */
.navbar {
  position: fixed; /* Fixed position at the top */
  top: 0; /* Ensures it's always at the top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* High z-index to keep it on top of other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(15, 14, 14, 0.8); /* Semi-transparent black background */
  color: white;
  /* box-shadow: 0 2px 4px rgba(50, 49, 49, 0.);  */
}

/* Logo styling */
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #e9431e;
}

/* Navbar links */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth hover effect */
}

.navbar ul li a:hover {
  color: #e9431e; /* Highlight color on hover */
}
