.vehicle-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 80px;
}
.vehicle-heading {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  /* height: 100vh;  */
  padding-bottom: 30px;
  text-align: center; /* Ensure text is centered inside the div */
}

.vehicle-heading h1 {
  margin: 0; /* Remove any default margin that might be applied */
  font-size: 3.5rem; /* Adjust the font size as needed */
  font-weight: 700;
}

.vehicle-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 350px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vehicle-image {
  width: 100%;
  border-radius: 8px;
}

.vehicle-content {
  margin-top: 12px;
}

.vehicle-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.vehicle-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 12px;
}

.vehicle-price {
  font-size: 1.2em;
  font-weight: bold;
}

.vehicle-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px 16px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.book-now {
  background: #007bff;
  color: white;
}

.btn.enquiry {
  background: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
}
